/*.carousel {*/
/*    max-width: 1000px;*/
/*    background-color: red;*/
/*    position: relative;*/
/*}*/

/*.prev, .next {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: auto;*/
/*    padding: 16px;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    transition: 0.6 ease;*/
/*    border-radius: 0 3px 3px 0;*/
/*    z-index: 10;*/
/*}*/

/*.next {*/
/*    right: 0;*/
/*    border-radius: 3px 0 0 3px;*/
/*}*/

/*img {*/
/*    max-width: 1000px;*/
/*    margin: auto;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    justify-content: right;*/
/*}*/

/*#carousel {*/
/*    position: relative;*/
/*    width: 1024px;*/
/*    height: 512px;*/
/*    border: 6px solid lightgray;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*    background: #000;*/
/*}*/

/*.slide-card {*/
/*    width: 1024px;*/
/*    height: 512px;*/
/*    position: absolute;*/
/*    transition: all ease 1s;*/
/*}*/

#prev, #next {
    background-color: red;
    width: 140px;
    background-color: lightgray;
    font-size: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all {
    display: flex;
    justify-content: center;
    height: 1012px;
}

.carousel {
    width: 1024px;
    height: 100%;
}

img {
    display: none;
}

.slide-card {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
